# Homework 18 by: **Muhammad Galang Gardamukti**

**"Find the percentage of a loyal customer from the given data."**
>Mencari persentase dari pelanggan yang loyal

**Loyal customer is a customer that always have an occurence at least once every month.**
>Pelanggan yang loyal adalah pelanggan yang setidaknya melakukan transaksi sekali tiap bulannya

In [1]:
import pandas as pd
import numpy as np
from google.colab import files

### **Upload the Data First!**
>### Mengunggah Data!

In [2]:
uploaded = files.upload()

Saving Modul 18 - Dataset .xlsx to Modul 18 - Dataset .xlsx

### **Read the Data!**
>### Membaca Data-nya!

In [7]:
data = pd.read_excel("Modul 18 - Dataset .xlsx")

In [8]:
data

        InvoiceNo StockCode  ... CustomerID         Country
0          539993     22386  ...      13313  United Kingdom
1          539993     21499  ...      13313  United Kingdom
2          539993     21498  ...      13313  United Kingdom
3          539993     22379  ...      13313  United Kingdom
4          539993     20718  ...      13313  United Kingdom
...           ...       ...  ...        ...             ...
371759     581587     22613  ...      12680          France
371760     581587     22899  ...      12680          France
371761     581587     23254  ...      12680          France
371762     581587     23255  ...      12680          France
371763     581587     22138  ...      12680          France

[371764 rows x 10 columns]

### **Selecting the column necessary to determine whether a customer is a loyal customer or not**
>### Memilah kolom yang dibutuhkan untuk menentukan pelanggan loyal

In [26]:
data = data[['Month', 'CustomerID']]
data

        Month  CustomerID
0           1       13313
1           1       13313
2           1       13313
3           1       13313
4           1       13313
...       ...         ...
371759     12       12680
371760     12       12680
371761     12       12680
371762     12       12680
371763     12       12680

[371764 rows x 2 columns]

### **Make sure the type of data from each column**
>### Memastikan tipe data dari kolom yang diambil

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371764 entries, 0 to 371763
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Month       371764 non-null  int64
 1   CustomerID  371764 non-null  int64
dtypes: int64(2)
memory usage: 5.7 MB

### **Get the distinct values and its total appearance from each column**
>### Mendapatkan nilai beda dan jumlah kemunculannya dari tiap kolom

In [28]:
customer = data['CustomerID']
unique_cust = customer.unique()
customer.value_counts()

17841    7560
14911    5385
14096    5111
12748    3928
14606    2472
         ...
13307       1
15753       1
13841       1
13106       1
15940       1
Name: CustomerID, Length: 4220, dtype: int64

In [33]:
month = data['Month']
unique_month = month.unique()
month.value_counts()

11    64545
10    49557
9     40030
5     28322
6     27185
3     27177
8     27013
7     26827
4     22644
1     21232
2     19928
12    17304
Name: Month, dtype: int64

In [60]:
print(unique_month)
print(unique_cust)

[ 1  2  3  4  5  6  7  8  9 10 11 12]
[13313 18097 16656 ... 13298 14569 12713]

### **Logic to find the loyal customers each month:**
1. Filtering the 'data' with months from **['unique_month']** and the customer from **['unique_cust]**
2. If the said customer is actually make a transaction that month, the system will eventually had an output of the filtered table
3. Count the length of the filtered table
4. If the length is 1 or more, then it means the said customer had a transaction that month. The monthly occurence variable will add 1.
5. If the monthly occurence variable has a value of 12 or more, then the customer is a loyal customer

### Logika mencari Pelanggan Loyal tiap bulan:
1. Memfilter dari 'data' dengan bulan yang ada di **['unique_month']** dan customer yang ada di **['unique_cust']**
2. Jika memang pelanggan tersebut ada di bulan itu, maka pasti sistem akan mengeluarkan tabel lokasi/filter
3. Hitung panjang data hasil filter/locating
4. Jika hasilnya ada lebih dari 1, maka di dia belanja di bulan itu. Variabel penghitung bulanan akan menjumlahkan dirinya dengan 1
5. Jika variabel penghitung bulanan memiliki 12 atau lebih, maka dia pelanggan loyal

In [46]:
loyal_cust = []
for i in unique_cust:
  monthly_count = 0
  for j in unique_month:
    rec = data.loc[(data['Month']==j) & (data['CustomerID']==i), ['Month','CustomerID']]
    if len(rec) > 0:
      monthly_count += 1
  if monthly_count >= 12:
    loyal_cust.append(i)

loyal_cust

[17315,
 14606,
 13319,
 17841,
 17428,
 17675,
 13694,
 13798,
 15311,
 15769,
 13089,
 14527,
 18109,
 17511,
 16033,
 13199,
 15358,
 12682,
 12748,
 17949,
 12841,
 13408,
 12971,
 16013,
 14298,
 13069,
 17757,
 14911,
 17811,
 17381,
 14060,
 15061,
 13468,
 13078,
 15189,
 13777,
 14646,
 17576,
 16931,
 14796,
 16558,
 15078,
 14534,
 17677,
 17735,
 13098,
 14051,
 12720]

### **So, the loyal customer percentage over all of customers is...**
>### Jadi, persentase pelanggan yang loyal dari keseluruhan jumlah pelanggan adalah...

In [61]:
print('Daftar CustomerID yang loyal adalah:')
print(loyal_cust)

jumlah_loyal = len(loyal_cust)
print('Jumlah pelanggan yang loyal adalah:', jumlah_loyal)

jumlah_customer = len(unique_cust)
print('Jumlah total pelanggan adalah:', jumlah_customer)

persentase = jumlah_loyal/jumlah_customer
print('Persentase pelanggan loyal dari keseluruhan pelanggan adalah:',persentase*100,'%')

Daftar CustomerID yang loyal adalah:
[17315, 14606, 13319, 17841, 17428, 17675, 13694, 13798, 15311, 15769, 13089, 14527, 18109, 17511, 16033, 13199, 15358, 12682, 12748, 17949, 12841, 13408, 12971, 16013, 14298, 13069, 17757, 14911, 17811, 17381, 14060, 15061, 13468, 13078, 15189, 13777, 14646, 17576, 16931, 14796, 16558, 15078, 14534, 17677, 17735, 13098, 14051, 12720]
Jumlah pelanggan yang loyal adalah: 48
Jumlah total pelanggan adalah: 4220
Persentase pelanggan loyal dari keseluruhan pelanggan adalah: 1.1374407582938388 %